.parent-div{
    color: #fff;
    border: 2px solid rgb(255, 34, 71);
    height: 200px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
}

.child-div{
    margin: auto;
    width: 210px;
}

button{
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid rgb(255, 34, 71);
    background-color: red;
    color: #fff;
    margin: auto;
}